.image-container {
    -fx-padding: 10; /* Espaciado interno del contenedor */
    -fx-alignment: center; /* Centrado del contenido */
}

.addButton {
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-border-radius: 5px;
    -fx-padding: 5 10;
    -fx-opacity: 0; /* Oculto por defecto */
    -fx-cursor: hand;
    -fx-transition: opacity 0.3s ease;
}

.image-container:hover .addButton{
    -fx-opacity: 1; /* Mostrar el botón al pasar el ratón */
}

.added {
    -fx-background-color: green;
}

.info-button {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 5px;
    -fx-border-radius: 50%;
    -fx-alignment: center;
}

.status-label {
    -fx-background-color: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
}

.number-box {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

